@charset "UTF-8";

@media screen and (max-width: 1115px){
    body{
        /*background-color: lightblue;*/
    }

    #local-destaque{
        flex-flow: column-reverse nowrap;
    }

    #local-destaque section{
        display: block;
        justify-content: center;
        align-items: center;

        width: 60%;
    }

    #local-destaque section:nth-of-type(1) p{
        font-size: 1.3em;
        font-weight: normal;
    }

    #local-destaque section:nth-of-type(2) p{
        display: none;
    }

    #local-destaque section:nth-of-type(2) h2{
        width: 90%;

        font-size: 3.5em;
        text-align: center;
        line-height: 50px;
    }
}

@media screen and (max-width: 860px){
    body{
        /*background-color: lightgreen;*/
    }

    #ambientes-decoracao section{
        /*background-color: lightblue;*/

        flex-flow: row-reverse wrap;
        align-items: stretch;
    }

    #ambientes-decoracao section{
        height: fit-content;
    }

    #ambientes-decoracao section div{
        /*background-color: lightsalmon;*/
    }

    #ambientes-decoracao section:nth-of-type(1) div:nth-of-type(2){
        width: 100%;
    }

    #ambientes-decoracao h2{
        font-size: 2.3em;
    }

    #ambientes-decoracao h3{
        font-size: 1.4em;
    }

    #ambientes-decoracao ul{
        font-size: 1.1em;
        margin-bottom: 20px;
    }

    #ambientes-decoracao section:nth-of-type(2), #ambientes-decoracao section:nth-of-type(3){
        /*background-color: lightyellow; */ 
    } 

    #ambientes-decoracao section:nth-of-type(2), #ambientes-decoracao section:nth-of-type(3){
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
    } 

    #ambientes-decoracao section:nth-of-type(2) div, #ambientes-decoracao section:nth-of-type(3) div{
        width: 100%;
    }

    #ambientes-decoracao section #imagem-principal{
        display: none;
    }

    #ambientes-decoracao section .imagem-decoracao{
        height: 230px;
        align-content: stretch;
    }




    #inscricao button{
        width: 70%;
    }

}

@media screen and (max-width: 740px){
    body{
        background-color: lightblue;
    }

}