@charset "UTF-8";

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8e8e8e;

    max-width: 100vw;
}



#apresentacao{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    

    background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url("../images/hrz-5.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    padding: 50px 30px;
}

#apresentacao section{
    width: 400px;
}

#apresentacao h1{
    color: #EA1CC4;
    font-size: 3.2em;

    margin-bottom: 30px;
}

#apresentacao h2{
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.373);

    font-size: 1.7em;
    text-transform: uppercase;

    margin-bottom: 30px;
}

#apresentacao p{
    color: white;
    font-size: 1.2em;
}

#apresentacao p:nth-of-type(2){
    color: #EA1CC4;
    font-weight: bold;
    letter-spacing: 0.8px;
}

#apresentacao form{
    background-color: #969899e3;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.538);
    padding: 30px 20px;
}

#apresentacao form p{
    color: #1a1a1a;
    font-size: 1.6em;
    margin-bottom: 25px;
}

#apresentacao form div{
    margin-bottom: 10px;
}

#apresentacao form label{
    color: #373737;
    font-weight: bold;
}

#apresentacao form input, form select{
    width: 100%;
    padding: 8px;

    border: 1px solid white;
    border-radius: 10px;

    color: #6e6f6f;
}

#apresentacao form select{
    cursor: pointer;
}

#apresentacao form button{
    background-color: #EA1CC4;
    border: 1px solid #EA1CC4;
    border-radius: 10px;

    font-size: 1em;
    text-transform: uppercase;
    color: white;

    width: 100%;
    padding: 10px;
    margin-top: 25px;

    cursor: pointer;
}

#apresentacao form button:hover{
    background-color: #e53bc6;
    border-color: #e53bc6;
    transition: 0.3s;
}




/*CONTEUDO*/
#conteudo h2{
    background-color: #969899;
    color: #1A1A1A;
    
    font-size: 2em;
    font-weight: 400;
    text-align: center;

    margin-bottom: 35px;
    padding: 40px 25px;
}

#conteudo section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;

    margin: 70px 0 55px;
}

#conteudo div.imagem{
    background-size: cover;
    background-position: center;

    width: 290px;
    height: 290px;
    
    border-radius: 150px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.429);
}

#conteudo div#imagem1{
    background-image: url("../images/sqr-1.jpg");
}

#conteudo div#imagem2{
    background-image: url("../images/sqr-2.jpg");
}

#conteudo div#imagem3{
    background-image: url("../images/sqr-3.jpg");
}

#conteudo p{
    width: 290px;
    margin: 10px 0 15px;

    font-size: 1.3em;
    text-align: center;
}




/*LOCAL DESTAQUE*/
#local-destaque{
    background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url("../images/hrz-1.jpg");
    background-position: center;
    background-size: cover;

    padding: 150px 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#local-destaque section{
    /*background-color: lightblue;*/

    width: 38%;
}

#local-destaque section:nth-of-type(1){
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
    flex-flow: column nowrap;
}

#local-destaque i{
    color: #EA1CC4;
    font-size: 7em;
}

#local-destaque section:nth-of-type(1) p{
    width: 100%;
    text-align: center;
}

#local-destaque p{
    color: white;
    font-size: 1.2em;

    width: 90%;
}

#local-destaque section:nth-of-type(2){
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#local-destaque h2{
    color: #EA1CC4;
    font-size: 2.3em;
    text-transform: uppercase;

    line-height: 45px;

    margin-bottom: 30px;
    width: 50%;
}




/*AMBIENTES DECORACAO*/
#ambientes-decoracao{
    /*background-color: lightblue;*/
    padding: 50px 0;
    color: #1a1a1a;
    
    display: flex;
    flex-flow: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

#ambientes-decoracao section{
    /*background-color: lightgreen;*/
    width: 90%;
    height: 350px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#ambientes-decoracao section:nth-of-type(2){
    flex-flow: row-reverse nowrap;
}

#ambientes-decoracao .imagem-decoracao{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.327);
    width: 50%;
    height: 100%;

    background-position: center center;
    background-size: cover;
}

#ambientes-decoracao #imagem-principal{
    background-image: url("../images/hrz-3.jpg");
}

#ambientes-decoracao #imagem-detalhes{
    background-image: url("../images/hrz-4.jpg");
}

#ambientes-decoracao #imagem-objetos{
    background-image: url("../images/hrz-5.jpg");
}

#ambientes-decoracao div:nth-of-type(2){
    width: 40%;
}

#ambientes-decoracao h2{
    font-size: 3.2em;
}

#ambientes-decoracao h3{
    font-size: 2em;
}

#ambientes-decoracao ul{
    font-size: 1.3em;
}




/*INSCRICAO*/
#inscricao{
    background-color: lightblue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url("../images/hrz-6.jpg");
    background-position: center center;
    background-size: cover;
    
    color: white;

    text-align: center;
    padding: 150px 0;
}

#inscricao section{
    /*background-color: lightgreen;*/
    width: 90%;
    margin: auto;
}

#inscricao h2{
    font-weight: normal;
    font-size: 3em;

    margin-bottom: 50px;
    width: 100%;
}

#inscricao button{
    background-color: #EA1CC4;
    border: 1px solid #EA1CC4;
    border-radius: 10px;

    font-size: 1.5em;
    text-transform: uppercase;
    color: white;

    width: 60%;
    padding: 10px;

    cursor: pointer;
}

#inscricao button:hover{
    background-color: #e53bc6;
    border: 1px solid #e53bc6;

    transition: .2s;
}




/*FOOTER*/
footer{
    padding: 50px 0;
    text-align: center;
    font-size: 1.2em;
}

footer h2{
    margin-bottom: 15px;
}

footer p:nth-of-type(1){
    margin-bottom: 15px;
}