@charset "UTF-8";

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#apresentacao{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    

    background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url("../images/hrz-5.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    padding: 50px 30px;
}

#apresentacao section{
    width: 400px;
}

#apresentacao h1{
    color: #EA1CC4;
    font-size: 3.2em;

    margin-bottom: 30px;
}

#apresentacao h2{
    color: white;
    font-size: 1.7em;
    text-transform: uppercase;

    margin-bottom: 30px;
}

#apresentacao p{
    color: white;
    font-size: 1.1em;
}

#apresentacao p:nth-of-type(2){
    color: #EA1CC4;
    font-weight: bold;
    letter-spacing: 0.8px;
}

#apresentacao form{
    background-color: #969899e3;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.538);
    padding: 30px 20px;
}


#apresentacao form p{
    color: #1a1a1a;
    font-size: 1.6em;
    margin-bottom: 25px;
}

#apresentacao form div{
    margin-bottom: 10px;
}

#apresentacao form label{
    color: #373737;
    font-weight: bold;
}

#apresentacao form input, form select{
    width: 100%;
    padding: 8px;

    border: 1px solid white;
    border-radius: 10px;

    color: #6e6f6f;
}

#apresentacao form select{
    cursor: pointer;
}

#apresentacao form button{
    background-color: #EA1CC4;
    border: 1px solid #EA1CC4;
    border-radius: 10px;

    font-size: 1em;
    text-transform: uppercase;
    color: white;

    width: 100%;
    padding: 10px;
    margin-top: 25px;

    cursor: pointer;
}

#apresentacao form button:hover{
    background-color: #e53bc6;
    border-color: #e53bc6;
    transition: 0.3s;
}