@charset "UTF-8";

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




/*CONTAINER-1*/
#container-1{
    /*background-color: lightblue;*/
    background: linear-gradient(rgba(0, 0, 0, 0.752), rgba(0, 0, 0, 0.752)), url("../images/hrz-5.jpg");
    background-position: center center;
    background-size: cover;
    padding: clamp(0.8rem, 3.5vw, 4.3rem) clamp(1rem, 9vw, 10rem);
    
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 30px;
}

#container-1 section{
    /*background-color: lightgreen;*/
    flex: 1 1 200px;
}

#container-1 h1{
    color: #DA23C8;
    font-size: clamp(2.5rem, 6vw, 5rem);

    margin-bottom: clamp(1.3rem, 3vw, 4rem);
}

#container-1 h2{
    color: white;
    text-transform: uppercase;
    font-size: clamp(1.25rem, 3.5vw, 2.5rem);

    margin-bottom: clamp(1.3rem, 3vw, 4rem);
}

#container-1 p {
    color: white;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

#container-1 p:nth-of-type(2){
    color: #DA23C8;
    font-weight: bold;
}

#container-1 form{
    background-color: #969899cd;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.549);
    padding: clamp(0.8rem, 1.5vw, 2.3rem) clamp(1rem, 2.5vw, 4rem);
}

#container-1 form h3{
    color: #3b3b3c;
    font-size: clamp(1.1rem, 2.6vw, 2.2rem);
    font-weight: normal;

    margin-bottom: 20px;
}

#container-1 label{
    color: #4b4b4d;
    font-weight: bold;
    font-size: clamp(0.85rem, 2vw, 1.1rem);
}

#container-1 input, #container-1 select{
    width: 100%;
    border: 1px solid #969899;
    border-radius: 5px;

    margin-bottom: 15px;
    padding: clamp(0.4rem, 0.8vw, 0.6rem) clamp(0.8rem, 1.5vw, 1rem);
}

#container-1 select{
    color: #6a6b6c;
}

#container-1 button{
    background-color: #DA23C8;
    color: white;

    font-size: clamp(0.85rem, 2vw, 1.1rem);
    text-transform: uppercase;

    border: 1px solid #DA23C8;
    border-radius: 5px;

    padding: clamp(0.4rem, 0.8vw, 0.6rem) clamp(0.8rem, 1.5vw, 1rem);
    width: 100%;

    cursor: pointer;
}

#container-1 button:hover{
    background-color: #d445c6;
    border-color: #d445c6;
    transition: .2s;
}




/*CONTAINER-2*/
#container-2{
    /*background-color: lightblue;*/
    text-align: center;

    color: #3b3b3c;
}

#container-2 h2{
    background-color: #969899;
    
    font-size: clamp(1.25rem, 3.5vw, 2.5rem);
    font-weight: normal;

    padding: clamp(1rem, 2.5vw, 3rem) clamp(1.5rem, 3vw, 4rem);
}

#container-2 section{
    padding: clamp(1.5rem, 3vw, 3.5rem) clamp(1rem, 1.5vw, 2rem);

    /*background-color: lightgreen;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#container-2 div{
    /*background-color: lightpink;*/
    flex: 1 1 300px;
}

#container-2 div p{
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    font-weight: 400;
    margin-top: 0.5rem;
}

#container-2 .imagem{
    background-size: cover;
    background-position: center center;

    width: clamp(180px, 16vw, 400px);
    height: clamp(180px, 16vw, 400px);

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50%;

    object-fit: cover;

    margin: auto;
}

#container-2 #imagem1{
    background-image: url("../images/sqr-1.jpg");
}

#container-2 #imagem2{
    background-image: url("../images/sqr-2.jpg");
}

#container-2 #imagem3{
    background-image: url("../images/sqr-3.jpg");
}